.chart-wrapper
  padding: 0
  border: 0
  background-color: transparent

  +media($large-screen-up)
    height: 900px

#chart-container,
#spotlight-container
  padding: 0

#chart-container
  margin-bottom: 0
  +span-columns(8 of 8)

  header
    &#tab_18-65
      background-color: $eighteen-sixty
    &#tab_65
      background-color: $sixtyfive-plus
    &#tab_carers
      background-color: $carers

  +media($large-screen-up)
    +span-columns(6 of 12)
    margin-right: 3px
    height: 100%

#spotlight-container
  +span-columns(8 of 8)

  header
    background-color: $light-gray

  article
    padding: $base-spacing

  +media($large-screen-up)
    +span-columns(3 of 12, block-collapse)
    +omega
    height: 100%
