.chart-wrapper
  border: 0
  background-color: transparent
  margin-bottom: $medium-spacing

  +media($large-screen-up)
    height: 900px

#chart-container
  margin-bottom: 0
  width: 100%

  header
    &#tab_1
      background-color: $eighteen-sixty
    &#tab_2
      background-color: $sixtyfive-plus
    &#tab_3
      background-color: $carers

  h3
    padding-left: 1.3em

  +media($large-screen-up)
    width: 100%
    border-left: 3px solid $background
    float: left
    margin: 2em 0
.card-heading
  padding-top: 2em
  clear: both
  +media($medium-screen-up)
    padding-top: 0

#card-wrapper
  margin-top: $medium-spacing

.care-home-stats
  margin-top: 2em
