#area-finder
  background-color: $light-gray
  padding: $base-spacing
  input[type=text]
    +media($large-screen-up)
      width: 70%
      margin-bottom: 0
  input[type=submit]
    width: 100%
    +media($large-screen-up)
      width: initial

.home-summary
  border-left: $big-border
  +media($large-screen-up)
