#styleguide-headings
  .half
    padding: $small-spacing 0
  .dark
    +pad($small-spacing)

#chart-container
  height: 40%
  padding: 0
  margin-bottom: 0

  header
    height: 80px
    vertical-align: middle
    line-height: 90px
    padding: 0 $base-spacing

    &#tab-0
      background-color: $eighteen-sixty
    &#tab-1
      background-color: $sixtyfive-plus
    &#tab-2
      background-color: $carers

    h2
      line-height: normal
      display: inline-block

  +media($medium-screen-up)
    +span-columns(12 of 12)
    height: 100%
    margin-bottom: 0
  +media($large-screen-up)
    +span-columns(6 of 12)
    margin-right: 3px


#spotlight-container
  height: 30%
  padding: 0

  header
    background-color: $light-gray
    height: 80px
    vertical-align: middle
    line-height: 90px
    padding: 0 $base-spacing

    h2
      line-height: normal
      display: inline-block

  +media($medium-screen-up)
    +span-columns(12 of 12, block-collapse)
    height: 100%
  +media($large-screen-up)
    +span-columns(3 of 12, block-collapse)
    +omega

#styleguide-icon-demo
  background-color: $positive

.chart-wrapper
  padding: 0
  border: 0
  height: 2000px
  background-color: transparent

  +media($medium-screen-up)
    height: 900px
