.card
  %header
    %h4
      = @audience.title
      = vertical.title
  .card-trend{ class: vertical.direction }
    - if vertical.trend == :increase
      %i.icon.circle.circle-positive.circle-hollow &#58777;
      %h3
        Trend
      %small More spending
    - if vertical.trend == :decrease
      %i.icon.circle.circle-negative.circle-hollow &#58777;
      %h3
        Trend
      %small Less spending
  .card-stat
    %h5 Council Spending
    %span.stat-value-na
      = (vertical.council_spend && number_to_currency(vertical.council_spend, unit: "£", precision: 0)) || "Not Provided"
  .card-stat
    %h5 NHS Spending
    %span.stat-value
      = (vertical.nhs_spend && number_to_currency(vertical.council_spend, unit: "£", precision: 0)) || "Not Provided"

