%header.chart-header
  %h2 Spotlight
%article.spotlight
  %h3= @audience.title
  %p Lorem quisquam dignissimos maiores quam fugit dignissimos, optio. Asperiores omnis.
  %h3 Trend
  %p Elit cumque dolorem dolores maiores dolorum eius culpa omnis! Facere ipsam perspiciatis veniam reiciendis sequi.
  .spotlight-highlight
    %p Consectetur lorem id perferendis optio perferendis veniam! Sit aperiam quod.

