.row
  -# TODO: Make these real!
  -# Each audience has a set of cards
  -# area_audience_fund_vertical(@area,audience,fund_vertical)
  .card
    %header
      %h4 Title
    .card-trend.positive
      %i.icon.circle.circle-positive.circle-hollow &#58776;
      %h3 Trend
      %small More spending
    .card-stat
      %h5 Council spending
      %span.stat-value £XXm
    .card-stat
      %h5 NHS spending
      %span.stat-value £XXm
