.row
  -# TODO: Make these real!
  -# Each audience has a set of cards
  %section.card
    %header
      %h4
        = @audience.title
        Test
    .card-trend.negative
      %i.icon.circle.circle-negative.circle-hollow &#58777;
      %h3
        Trend
      %small Less spending
    .card-stat
      %h5 Council Spending
      %span.stat-value-na
        Not Provided
    .card-stat
      %h5 NHS Spending
      %span.stat-value
        £18m

