html,
body
  background-color: $background
  margin: 0
  padding: 0

main
  +outer-container
  padding: 0 $small-spacing

  +media($large-screen-up)
    padding: 0

section,
aside
  background-color: $white
  border-bottom: $base-border
  +pad($base-spacing)
  margin-bottom: $base-spacing

.row
  +row
  margin-bottom: $base-spacing

.half
  +media($medium-screen-up)
    +span-columns(6 of 12)

.dark
  background-color: $black

.clear
  +clearfix
