html,
body
  background-color: $background
  margin: 0
  padding: 0

main
  +outer-container
  padding: 0 $small-spacing

section,
aside
  background-color: $white
  border-bottom: $base-border
  +pad($base-spacing)
  margin-bottom: $base-spacing

.container
  padding: 0

.row
  +row

.half
  +media($medium-large-screen-up)
    +span-columns(6 of 12)
    +omega(2n)

.third
  +media($medium-large-screen-up)
    +span-columns(4 of 12)
    +omega(3n)

.dark
  background-color: $black

.transparent
  background-color: transparent
  border: 0
  a
    color: $action-on-bg

.highlighted
  background-color: $light-gray
  padding: $base-spacing
  a
    color: $action-on-bg

.clear
  +clearfix
