body
  +font-feature-settings("kern", "liga", "pnum")
  -webkit-font-smoothing: antialiased
  color: $base-font-color
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height

.white
  color: $white

.center
  text-align: center

.colorful
  color: darken($secondary, 5%)

.bright
  color: $action-color

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading-font-family
  font-size: $base-font-size
  line-height: $heading-line-height
  margin: 0 0 $small-spacing

h3,
h4,
h5,
h6
  line-height: $heading-line-height - 10px

h1,
h3,
h4
  font-weight: 700

h2,
h5
  font-weight: 400

h1
  font-size: 1.7em
  margin-bottom: $base-spacing
  padding-left: .6em
  +media($medium-screen-up)
    font-size: 2em

h2
  font-size: 1.6em
  +media($medium-screen-up)
    font-size: 1.9em
  &.padded
    padding-left: .6em

h3
  font-size: 1.2em

h5
  font-size: .9em

p
  margin: 0 0 $small-spacing
  &.mono
    font-family: $mono-font-family

strong
  font-weight: 700

em
  font-style: normal
  font-weight: 700

a
  color: $action-color
  text-decoration: underline
  transition: color 0.1s linear
  &:active,
  &:focus,
  &:hover
    color: darken($action-color, 15%)
    text-decoration: none
  &:active,
  &:focus
    outline: none

  &.large-link
    font-size: 1.2em
    margin-right: $base-spacing

hr
  border-bottom: $base-border
  border-left: none
  border-right: none
  border-top: none
  margin: $base-spacing 0

img,
picture
  margin: 0
  max-width: 100%

blockquote
  margin-left: 0
  padding-left: $base-spacing
