%footer.site-footer
  .footer-section
    %h4 Open Data License
    %p The information provided is published under the open government license and can be downloaded in a .CSV format.
  .footer-section
    %h4 Related
  .footer-section
    %h4 About This Project
