%section
  .row
    %h1 Social Care open data project
    %p
      For the last few months we've been working on a very exciting project with Kingston Council, Sutton Council and FutureGov, aided by data scientist Edafe Onerhime. With all the hype around open data, we are still struggling to show practical applications and examples in local government that can make a real difference to the way essential services are delivered; and many areas of the typical council hold data that is far too sensitive or personal to be released.
    %p
      But at the same time there are many misperceptions about ‘untouchable’ topics - we cant go near them, we could never do anything with them full stop - and we assume often that because a service delivers essential personal support and care to individuals, it must follow that all of its data, absolutely anything collected or generated in running the service, is off limits, end of discussion.
    %p
      Its good to test assumptions, to see if they stand up to a bit of nudging. thats why we’re delighted to be working on this project to examine all the datasets we use in Adult Social Care, have them assessed by one of the country’s leading data science experts, and start to describe the categories, processes and governance we need to work with the data, and to define what we can share, what we absolutely cannot expose, and how we manage that and support our colleagues with it.
    %p
      While we work on our understanding of the data and what we can do with it, we should remember that the point of releasing data where we can is so that people can do productive and useful things with it - and that’s why FutureGov will be using the data we open up to build an actual product to support the people who need care, and the people who provide it.
