%h2 Typography

%section

  .row#styleguide-headings
    .half
      %h1 Heading 1: This is the main title
      %h2 Heading 2: This is a subtitle
      %h3 Heading 3: This is a section title
      %h4 Heading 4: This is a section subtitle
      %h5 Heading 5: This is a minor title
    .half.dark
      %h1.white Heading 1: This is the main title
      %h2.white Heading 2: This is a subtitle
      %h3.white Heading 3: This is a section title
      %h4.white Heading 4: This is a section subtitle
      %h5.white Heading 5: This is a minor title

  .row
    %p.half
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      %strong Cras mattis consectetur 
      purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.
    %p.half
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      %em Cras mattis consectetur 
      purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.

  %p
    %a= link_to('Hyperlink', '#')

  .row
    %p.mono.half
      Use the '.mono' class to render text in a monospace font, use this for data.
    %p
      %small Small text: Etiam porta sem malesuada magna mollis euismod.

%h2 Lists

.row
  %section.half
    %h3 Unordered list
    %ul
      %li List item
      %li List item
      %li List item

    %h3 Ordered list
    %ol
      %li List item
      %li List item
      %li List item
  %section.half
    %h3 'Link List'
    %ul.link-list
      %li 
        %a{ href: '#' }
          Link
      %li 
        %a{ href: '#' }
          Link
      %li 
        %a{ href: '#' }
          Link

%h2 Containers

.row
  %section.half
    I'm a section!
  %aside.half
    I'm a aside!

%h2 Buttons

.row
  %section
    %button Button tag

    = link_to('Anchor tag', '#', class: 'button')

%h2 Forms

.row
  %section.clear
    %form.half
      %legend Form Legend
      %label Label
      %input{type: 'text', placeholder: 'Text field'}
      %label Label
      %textarea{placeholder: 'Text Area'}
      %label Label
      = select_tag "Letters", options_for_select(['Aye', 'Bee', 'Sea'], 'Letters')
      %label Label
      %input{type: 'radio'}
        Aye
      %input{type: 'radio'}
        Bee
      %input{type: 'radio'}
        Sea
      %br/
      %br/
      %input{type: 'submit'}
%h2 Icons

.row
  %section.half
    %i.icon.circle.circle-positive &#58776;
    %i.icon.circle.circle-negative &#58777;
    %i.icon.circle.circle-positive &#58129;

  %section.half#styleguide-icon-demo
    %i.icon.circle.circle-positive.circle-hollow &#58776;
    %i.icon.circle.circle-negative.circle-hollow &#58777;
    %i.icon.circle.circle-positive.circle-hollow &#58129;
.row
  %section.half
    %ul.link-list
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.pdf PDF
          document_name.pdf
      %li
        %a.document-link{ href: '#' }
          %i.icon.icon-document-1
          %span.document-type.doc DOC
          important.doc


%h2 Stat Cards

.row

  %section.card
    %header
      %h4 Title
    .card-trend.positive
      %i.icon.circle.circle-positive.circle-hollow &#58776;
      %h3
        Trend
      %small More Spending
    .card-stat
      %h5 Council spending
      %span.stat-value
        £50m
    .card-stat
      %h5 NHS spending
      %span.stat-value
        £10m

  %section.card
    %header
      %h4 Title
    .card-trend.negative
      %i.icon.circle.circle-negative.circle-hollow &#58777;
      %h3
        Trend
      %small Less spending
    .card-stat
      %h5 Council Spending
      %span.stat-value-na
        Not Provided
    .card-stat
      %h5 NHS Spending
      %span.stat-value
        £18m

%h2 Super Tabs

%section.chart-wrapper

  %nav.super-tab-wrapper
    .super-tab.unselected#tab-1
      %header
        %h3 18-64 Year Olds
      %article
        %p
          %strong 544,567
        .super-tab-trend.clear
          %i.icon.circle.circle-positive &#58776;
          %data
            %span.stat-value +1%
            %p Increase in 5 years
        %p
          %strong 600,000 predicted for 2020

    .super-tab.selected#tab-2
      %header
        %h3 65+ Year Olds
      %article
        %p
          %strong 544,567
        .super-tab-trend.clear
          %i.icon.circle.circle-positive &#58776;
          %data
            %span.stat-value +1%
            %p Increase in 5 years
        %p 
          %strong 600,000 predicted for 2020

    .super-tab.unselected#tab-3
      %header
        %h3 Carers
      %article
        %p
          %strong 544,567
        .super-tab-trend.clear
          %i.icon.circle.circle-positive &#58776;
          %data
            %span.stat-value +1%
            %p Increase in 5 years
        %p
          %strong 600,000 predicted for 2020

    %section.super-tab-info

  %section#chart-container
    %header.chart-header#tab-1
      %h2.white 65+ Year Olds
    .chart
      There should be a graph in here.

  %section#spotlight-container
    %header.chart-header
      %h2 Spotlight
    %article.spotlight
      Sit nesciunt soluta mollitia quibusdam dolore odio sint officia? Quo commodi temporibus maiores quisquam debitis. Dolore quo dicta quas mollitia.

%h2 Graphs
.row
  %section.clear
    %h3 Legend / Key
    %ul.legend.half
      %li.key.active Population Growth (65-85)
      %li.key.inactive Population Growth (85+)
    %ul.legend.half
      %li.key.active Deaths
      %li.key.inactive Dementia Care Need
