.clear
%header.aside-header.wider.care-home-stats
  %h1 Availability
  %aside
    .highlighted
      %h4 Total
    %div
      %span= pluralize(home_stats.total_homes, "home")
    %div
      %span= pluralize(home_stats.beds_count, "bed")
    %div
      %span= pluralize(home_stats.vacancies_count, "vacancy")
    %span.clear

.row.care-homes-stats

  %section.card
    %header
      %h4 Nursing
    .card-stat
      %h5 Beds
      %span.stat-value=home_stats.nursing_homes_beds_count

  %section.card
    %header
      %h4 Care
    .card-stat
      %h5 Beds
      %span.stat-value=home_stats.care_homes_beds_count

  %section.card
    %header
      %h4 Dementia
    .card-stat
      %h5 Homes
      %span.stat-value
        =home_stats.homes_with_dementia_care_count
    .card-stat
      %h5 Beds
      %span.stat-value
        =home_stats.homes_with_dementia_care_beds

  %section.card
    %header
      %h4 Only dementia patients
    .card-stat
      %h5 Homes
      %span.stat-value
        =home_stats.dementia_only_homes_count
    .card-stat
      %h5 Beds
      %span.stat-value
        =home_stats.dementia_only_homes_beds
