%h2= "Population of " + @area.name
= link_to "Total population", area_path(@area)
%section.chart-wrapper
  %nav.super-tab-wrapper
    - if @area.audiences.any?
      - @area.audiences.each_with_index do |audience, index|
        -# ID required by styling "#tab-0", "#tab-1" etc.
        .super-tab.unselected{ id: "tab-" + index.to_s}
          %header
            %h3= link_to audience.title, area_audience_path(@area, audience)
          %article
            %p
              %strong XXX,XXX
            .super-tab-trend.clear
              -# TODO: Helper / Decorator to decide positive or negative
              %i.icon.circle.circle-positive &#58776;
              %data
                -# TODO: Real stats!
                %span.stat-value +XX%
                %p Increase or decrease?
            %p
              %strong XXX,XXX predicted for 2020

    %section.super-tab-info.clear

  %section#chart-container
    -# TODO: Add ID to match color of currently selected tab
    %header.chart-header#tab-1
      - if @audience.present?
        %h2.white= @audience.title
    .chart
      CHART HERE
  %aside#spotlight-container
    %header.chart-header
      %h2 Spotlight
