%h2= "Population of " + @area.name
= link_to "Total population", area_path(@area)
%section.chart-wrapper
  %nav.super-tab-wrapper
    - if @area.audiences.any?
      - @area.audiences.each_with_index do |audience, index|
        -# ID required by styling "#tab-1", "#tab-2" etc.
        .super-tab{ id: "tab-" + (index + 1).to_s, class: (index == 0 ? "selected" : "unselected")}
          = link_to area_audience_path(@area, audience), remote: true do
            %header
              %h3= audience.title
            %article
              %p
                %strong XXX,XXX
              .super-tab-trend.clear
                -# TODO: Helper / Decorator to decide positive or negative
                %i.icon.circle.circle-positive &#58776;
                %data
                  -# TODO: Real stats!
                  %span.stat-value +XX%
                  %p Increase or decrease?
              %p
                %strong XXX,XXX predicted for 2021

    %section.super-tab-info.clear

  %section#chart-container
  %aside#spotlight-container

