%header.aside-header
  %h1= "Population of " + @area.name
  %aside
    %div.highlighted
      %h4 Total Population 
    %div
      %span XX.X% Female
      %br/
      %small XXX,XXX people
    %div
      %span XX.X% Male
      %br/
      %small XXX,XXX people
    %span.clear

%section.chart-wrapper
  %nav.super-tab-wrapper
    - if @area.audiences.any?
      - @area.audiences.each_with_index do |audience, index|
        -# ID required by styling "#tab-1", "#tab-2" etc.
        .super-tab{ id: "tab-" + (index + 1).to_s, class: 'unselected' }
          = link_to area_audience_path(@area, audience), remote: true do
            %header
              %h3= audience.title
            %article
              %p
                %strong XXX,XXX
              .super-tab-trend.clear
                -# TODO: Helper / Decorator to decide positive or negative
                %i.icon.circle.circle-positive &#58776;
                %data
                  -# TODO: Real stats!
                  %span.stat-value +XX%
                  %p Increase or decrease?
              %p
                %strong XXX,XXX predicted for 2021

    %section.super-tab-info.clear

  %section#chart-container
  %aside#spotlight-container

%h1
  Public funding for care in 
  = @area.name

%section.transparent#card-wrapper
  .row
    -# TODO: Make these real
    %section.card
      %header
        %h4 Title
      .card-trend.negative
        %i.icon.circle.circle-negative.circle-hollow &#58777;
        %h3
          Trend
        %small Less spending
      .card-stat
        %h5 Council Spending
        %span.stat-value-na
          Not Provided
      .card-stat
        %h5 NHS Spending
        %span.stat-value
          £18m


