%header.aside-header
  %h1= "Population of " + @area.name
  %aside
    %div.highlighted
      %h4 Total Population 
    %div
      %span XX.X% Female
      %br/
      %small XXX,XXX people
    %div
      %span XX.X% Male
      %br/
      %small XXX,XXX people
    %span.clear

%section.chart-wrapper
  %nav.super-tab-wrapper
    - if @area.audiences.any?
      - @area.audiences.each_with_index do |audience, index|
        -# ID required by styling "#tab-1", "#tab-2" etc.
        -# Class to select default tab on view load
        -# 'ajax_*' attributes are passed to area.coffee to load via AJAX
        .super-tab{ id: "tab-" + (index + 1).to_s,
          class: (index == 0 ? "selected" : "unselected"),
          data: { ajax_chart: area_audience_path(@area, audience), ajax_details: breakdown_audience_path(audience.id) }}
          %header
            %h3= audience.title
          %article
            %p
              %strong XXX,XXX
            .super-tab-trend.clear
              -# TODO: Helper / Decorator to decide positive or negative
              %i.icon.circle.circle-positive &#58776;
              %data
                -# TODO: Real stats!
                %span.stat-value +XX%
                %p Increase or decrease?
            %p
              %strong XXX,XXX predicted for 2021

    %section.super-tab-info.clear

  %section#chart-container
    -# Will be rendered via AJAX (areas.coffee)
  %aside#spotlight-container
    = render 'audiences/spotlight'


%h1
  Public funding for care in 
  = @area.name

%section.transparent#card-wrapper
  -# Will be rendered via AJAX (areas.coffee)
