.document-link
  text-decoration: none

.document-type
  font-family: $mono-font-family
  font-size: .8em
  vertical-align: middle
  margin-right: $small-spacing

  &.pdf
    color: $doc-pdf
  &.doc
    color: $doc-doc
