.document-link
  text-decoration: none
  font-size: 1em !important

.document-type
  font-family: $mono-font-family
  font-size: .8em
  vertical-align: middle
  margin: 0 $small-spacing

  &.pdf
    color: darken($doc-pdf, 10%)
  &.docx
    color: darken($doc-doc, 10%)
