.site-footer
  background-color: $white
  border-bottom: $big-border

#site-footer-wrapper
  +outer-container
  margin-top: $base-spacing
  padding: $small-spacing

  +media($medium-screen-up)
    padding: 0


.footer-section
  +media($medium-screen-up)
    +span-columns(4 of 12)
    border-right: 3px solid $medium-gray
    padding: $base-spacing 0

    &:first-of-type
      padding-left: $base-spacing

    &:last-of-type
      border: 0

#cabinet-logo,
#futuregov-logo,
#devon-logo
  width: 30%

#cabinet-logo
  +media($medium-screen-up)
    width: 70%
#futuregov-logo
  +media($medium-screen-up)
    width: 70%
    margin-bottom: $small-spacing
#devon-logo
  +media($medium-screen-up)
    width: 50%
