.site-footer
  +outer-container
  max-width: 100%
  background-color: $white
  border-bottom: $big-border
  margin-top: $large-spacing
  padding: $small-spacing

  +media($medium-screen-up)
    padding: 0


.footer-section
  +media($medium-screen-up)
    +span-columns(4 of 12)
    border-right: 3px solid $medium-gray
    padding: $base-spacing

    &:last-of-type
      border: 0
