.site-header
  border-top: $big-border
  background-color: $white
  margin-bottom: $base-spacing * 2
  padding: $small-spacing

  +media($medium-screen-up)
    padding: 0

.site-nav
  +outer-container
  margin-top: $base-spacing
  margin-bottom: $small-spacing
  padding-bottom: $small-spacing

.logo
  color: $base-font-color
  text-decoration: none
  &:hover
    color: $dark-gray
  span
    font-family: $heading-font-family
    font-weight: 700

