// TODO: MAKE THIS WHOLE FILE LESS OF A COMPLETE NIGHTMARE

// Mixin to make color coding super tab border easier
// Usage: +tabs-border(left, false)
// Hover is true by default
=tabs-border($side, $hover: true)
  $t: (0: $eighteen-sixty, 1: $sixtyfive-plus, 2: $carers)
  @if $hover
    @each $number, $color in $t
      &#tab-#{$number + 1}:hover
        border-#{$side}-color: $color
  @else
    @each $number, $color in $t
      &#tab-#{$number + 1}
        border-#{$side}-color: $color

.super-tab-wrapper
  position: relative

  +media($medium-screen-up)
    +span-columns(12 of 12)
    margin: 0 3px 3px 0
    height: 40%
  +media($large-screen-up)
    +span-columns(3 of 12, block-collapse)
    height: 100%
    margin-bottom: 0

.super-tab
  +box-sizing(border-box)
  width: calc(33.33% - 3px)
  margin: 0 3px 3px 0
  float: left
  background-color: $white
  cursor: pointer

  header
    height: 80px
    background-color: $light-gray
    padding-left: $base-spacing
    line-height: 80px
    h3
      line-height: normal
      display: inline-block
      font-size: 1em
      a
        color: $base-font-color
        text-decoration: none
      +media($medium-screen-up)
        font-size: 1.2em

  article
    padding: $base-spacing

  p
    float: left
    margin-right: $base-spacing

  &:first-of-type
    border-top-left-radius: $base-border-radius

  &:last-of-type
    margin-bottom: 0
    +media($large-screen-up)
      border-bottom: $base-border

  +media($medium-screen-up)
    height: 100%
    &:last-of-type
      +omega
    p
      float: none
      margin-right: 0

  +media($large-screen-up)
    +span-columns(12 of 12, block-collapse)
    height: calc(33.33% - 3px)
    width: 100%
    border-right: 0

.super-tab
  &.unselected
    +tabs-border(top)
    +transition(all .1s ease-in-out)
    border-top: $big-border

    +media($large-screen-up)
      +tabs-border(left)
      border-left: $big-border
      border-top: 0

    &:hover
      cursor: pointer
      border-top: 7px solid
      header
        height: 88px
      +media($large-screen-up)
        border-top: 0
        border-left: 7px solid
        header
          height: 80px

    article
      display: none
      +media($medium-screen-up)
        display: block

.super-tab
  &.selected
    +tabs-border(top, false)
    border-top: 7px solid

    +media($large-screen-up)
      +tabs-border(left, false)
      border-top: 0
      border-left: 7px solid

    article
      +position(absolute, null null 0px 0px)
      +media($medium-screen-up)
        position: initial

    header
      height: 88px
      +media($large-screen-up)
        height: 80px

.super-tab-trend
  float: left
  .stat-value
    margin-bottom: 0
  .stat-value, p
    display: inline-block
  p
    float: none
  i, data
    float: left
  i
    margin-right: $small-spacing
  data
    margin-top: -5px

  +media($medium-screen-up)
    .stat-value,
    p
      display: block
    data
      margin-top: 0

.super-tab-info
  min-height: 10em
  margin-bottom: 0
  clear: both
  +media($medium-screen-up)
    display: none
