.ie7,
.ie8
  .clear
    clear: both
  .row,
    clear: both
  .half
    width: 43%
  .third
    width: 26%
  .quarter
    width: 35%

  .chart-wrapper
    clear: both
  .super-tab-wrapper
    width: 25%
  .super-tab
    height: 33.33%
    article
      position: static

  #area-finder
    input[type=submit]
      width: 100px

  .home-progress
    width: 43%
    clear: none
    .third
      float: right
      display: inline-block

  #home-introduction,
  .hero-header,
  .hero-footer
    clear: both
